footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
}

footer.footer .section {
  max-width: var(--grid-container-width);
  margin: 0 auto;
  padding: 1rem;
}

footer.footer .section.highlight {
  max-width: 100%;
  background: #e3e3e3;

  .section-container {
    max-width: var(--grid-container-width);
    margin: 0 auto;
  }

  p {
    display: flex;
    align-items: center;
  }

  .icon {
    padding-left: 1rem;
    height: 18px;
  }
}

footer.footer p {
  margin: 0;
}

/* second section */
footer.footer .section:nth-of-type(2) {
  padding: 2rem 1rem 1rem;
}

footer.footer .section:nth-of-type(2) ul {
  padding-left: 0;
  list-style: none;
}

footer.footer .section:nth-of-type(2) > div > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 0;
}

footer.footer .section:nth-of-type(2) > div > ul > li {
  font-size: 15px;
  font-weight: 600;
  color: #616161;
}

footer.footer .section:nth-of-type(2) > div > ul > li > ul > li {
  font-size: 11px;
  color: #616161;
  word-break: break-word;
  font-weight: 500;
  padding: 8px 0;
}

footer.footer .section:nth-of-type(2) > div > ul > li > ul > li > a {
  color: inherit;
}

@media (width <= 900px) {
  footer.footer .section:nth-of-type(2) > div > ul {
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* third section */
footer.footer .section:nth-of-type(3) ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

footer.footer .section:nth-of-type(3) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(1) li,
footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(2) li {
  font-size: 11px;
  word-break: break-word;
  color: #616161;
}

footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(1) li {
  display: flex;
  align-items: center;
}


footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(1) li:first-of-type .icon {
  width: 18px;
  height: auto;
}


footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(1) li .icon {
  padding-right: 10px;
}

@media (width <= 900px) {
  footer.footer .section:nth-of-type(3) > div {
    flex-direction: column;
  }

  footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(1) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

  footer.footer .section:nth-of-type(3) > div > ul:nth-of-type(2) {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
}
